Flask==2.1.0
python-dotenv
dash==1.16.1
plotly
psutil #for exporting images
pandas
kaleido
requests
# google-api-python-client
# google-auth-httplib2 
# google-auth-oauthlib
# google-cloud-storage
# google-cloud-datastore==1.15.0
# google-auth==1.21.1
# requests==2.24.0
# gunicorn
# grpcio
# yellowbrick
# sklearn
# matplotlib
# scipy